<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>BENCHOP</title>
</head> 
	
	

<body>
	<script>
		function tz(){
				window.location.href='pa1.html';
				}
	</script>
	<style>
		button{
			width: 400px;
			height: 60px;
			background-color: aquamarine;
		}
	</style>
	<h1>BENCHOP </h1><br> 
	<button onclick="window.location.href='pa1'">
		Problem 1 a) I
		
	</button>
	
	<button onclick="window.location.href='pb1'">
		Problem 1 b) I
		
	</button>
	
	<button onclick="window.location.href='pc1'">
		Problem 1 c) I
		
	</button>
	
	<button onclick="window.location.href='pa2'">
		Problem 1 a) II
		
	</button>
	
	<button onclick="window.location.href='pb2'">
		Problem 1 b) II
		
	</button>
	
	<button onclick="window.location.href='pc2'">
		Problem 1 c) II
		
	</button>
</body>
</html>
